@inherits LayoutComponentBase
@page "/main-page/{*pageRoute}"

<div class="bg-green-200 flex-column h-screen">
  <AppBar/>
  <h3>Main Page</h3>
  
  <div>@EntitySingularName</div>
  <div>@EntityPluralName</div>
  <div>@DestinationPath</div>
</div>

@code {
  [Parameter] public string? PageRoute { get; set; }

  private string EntitySingularName { get; set; } = null!;

  private string EntityPluralName { get; set; } = null!;

  private string DestinationPath { get; set; } = null!;

  protected override void OnInitialized()
  {
    var parameters = PageRoute?.Split("/") ?? new string[] { };

    if (parameters.Length == 3)
    {
      EntitySingularName = parameters[0];
      EntityPluralName = parameters[1];
      DestinationPath = parameters[2].Replace("@", "\\");
    }

    base.OnInitialized();
  }
}