@page "/"

<div class="p-5">
  <AppBar ProjectName="MekToolsRedux" ProjectPath="C:\Lavoro\MekToolsRedux" OnUnloadProjectClick="() => { }"/>

  <div class="my-5">
    <div class="text-xl font-extrabold mb-3">Generation settings</div>
    <ProjectSettingsCardsRow ProjectSettings="@ProjectSettings" OnSettingsChange="@OnProjectSettingsChange"/>
  </div>

</div>
