@page "/index-to-be-removed"
@using MekToolsReduxComponents.Modules.Index.Models
@inject NavigationManager NavigationManager

<div class="bg-green-200 flex-column h-screen">
  <AppBar/>

  <div class="flex justify-center mt-10">
    <div class="w-2/3">
      <Card Title=".NET Module Generator">
        <ModuleCreateForm OnValidFormSubmit="OnValidFormSubmit"/>
      </Card>
    </div>
  </div>
</div>


@code {

  private void Navigate(string entitySingularName, string entityPluralName, string destinationPath)
  {
    NavigationManager.NavigateTo(PageRoutes.MainPage + $"/{entitySingularName}/{entityPluralName}/{destinationPath}");
  }

  private void OnValidFormSubmit(ModuleCreateModel model)
  {
    Navigate(model.EntitySingularName, model.EntityPluralName, model.DestinationPath.Replace("\\", "@"));
  }

}