@using MekToolsReduxCore.Modules.ModulePreviews.Models
<div class="flex items-center gap-x-1 italic font-extrabold">
  <img src="icons/folder_icon.svg" height="20" width="20" alt="Folder Icon"/>
  @ModulePreviewModel.ModuleName
</div>

@foreach (var subModuleDirectory in ModulePreviewModel.Directories)
{
  <div class="flex items-center gap-x-1 ml-8 italic font-extrabold">
    <img src="icons/folder_icon.svg" height="20" width="20" alt="Folder Icon"/>
    @subModuleDirectory.Name
  </div>

  @foreach (var moduleFile in subModuleDirectory.Files)
  {
    <div class="flex items-center gap-x-1 ml-16">
      <img src="icons/c_sharp_icon.svg" height="20" width="20" alt="C# File Icon"/>
      @moduleFile.Name
    </div>
  }
}

@code {
  [Parameter] public ModulePreviewModel ModulePreviewModel { get; set; } = null!;
}