<div class="bg-white rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">@Title</div>
    @ChildContent
  </div>
</div>

@code {
  [Parameter] public string Title { get; set; } = null!;

  [Parameter] public RenderFragment ChildContent { get; set; } = null!;

}